body {
    font-family: "Open Sans", sans-serif;
    background-image: linear-gradient(to right, white, yellow, orange);
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}


footer {
    background-image: linear-gradient(white, purple);
    padding: 20px 20px;
    border: solid white;
    border-width: 2px;
    color:black;
}

.jumbotron {
    background-image: linear-gradient(white, purple);
    padding: 50px 0px;
    margin: 0px;
    text-align: center;
    color: black;
    border: solid white;
    border-width: 0px;
}


.row {
    padding: 50px 0;
}


#index1 {
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar {
    background-color: purple;
}

a {
    color: black;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.site-footer {
    background-image: linear-gradient(grey, white);
}